body {
    padding-left: 15px;
}
.navigation {
    text-align: left;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    text-shadow: gray;
}

form {
    background-color: linen;
    align-content: center;
}
.personForm {
    /* float: right; */
    max-width: 50%;
}
.designForm {
    max-width: 50%;
}