body {
    padding-left: 15px;
}
/* .navigation {
    text-align: left;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
} */

.partsContainer {
    border-radius: 2%;
    padding-left: .8%;
}

.card {
    margin: .35%;
    border: solid black 3px;
    width: 31.5%;
    display: inline-grid;
    height: 300px;
}

.partPic {
    border: solid black;
    max-height: 150px;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    background-color: linen;
    align-content: center;
}
.personForm {
    /* float: right; */
    max-width: 50%;
}
.designForm {
    max-width: 50%;
}

/* button {
    background-color: darkolivegreen;
    border-radius: 5%;
    border-color: black;
} */